<div class="container py-5 my-5">
    <div class="login-form">
        {% form 'customer_login' %}
            {% include 'form-error', form: form %}
            <h1 class="h3 mb-4 text-center">Customer Log In</h1>
            <label for="emailAddress">Email Address</label>
            <input type="email" name="customer[email]" class="form-control mb-3">
            <label for="password">Password</label>
            <input type="password" name="customer[password]" class="form-control mb-3">

            <input type="submit" value="Sign In" class="btn btn-primary btn-lg w-100" style="background-color: #247b7b; border:#247b7b;">
        {% endform %}
    </div>
</div>