<div class="container my-5">
    <h1 class="lead text-center m-3 pb-3">Reset Password</h1>
    <div class="reset-password">
        <div class="row">
            {% form 'reset_customer_password' %}
                {% include 'form-error', form: form %}
                <div class="col-12 mb-4">
                    <label for="reset_password1" class="form-label">Password</label>
                    <input class="form-control" type="password" name="customer[password]" id="reset_password1">
                </div>
                <div class="col-12 mb-4">
                    <label for="reset_password2" class="form-label">Confirm Password</label>
                    <input class="form-control" type="password" name="customer[password_confirmation]" id="reset_password2">
                </div>
                <div class="col-12 mb-2">
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </div>
            {% endform %} 
        </div>
    </div>
</div>
